<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301195878871-qtm1ttaeeg07lq2oeiudkpecv9qlrc12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301195878871-qtm1ttaeeg07lq2oeiudkpecv9qlrc12</string>
	<key>API_KEY</key>
	<string>AIzaSyDoGoJMt6CZhFKE9tax8QoHfWhhUs8-CM4</string>
	<key>GCM_SENDER_ID</key>
	<string>301195878871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.mustang.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-f02fc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-f02fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301195878871:ios:d7e638432c627c0a68eb92</string>
</dict>
</plist>